.alert-panel {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 0 1.2px #e6eaef;

  margin: 20px;
  padding: 20px;
}
.alert-label {
  font-size: 16px;
  color: #1c222a;
  font-weight: 400;
  margin-bottom: 7px;
  display: block;
}
.alert-date-row {
  position: relative;
  margin-bottom: 3px;
}
.alert-date-input {
  width: 81%;
  border-radius: 10px;
  border: 1.2px solid #d5dde5;

  color: #6b7280;
  font-size: 15px;
  padding: 13px 40px 13px 13px;
  font-weight: 400;
  outline: none;
}
.alert-date-icon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.alert-select-row {
  position: relative;
  width: 100%;
  margin-bottom: 17px;
  margin-top: 4px;
}
.alert-select-input {
  width: 100%;
  border-radius: 10px;
  border: 1.2px solid #d5dde5;

  color: #6b7280;
  font-size: 14px;
  padding: 13px 40px 13px 13px;

  font-weight: 400;
  appearance: none;
  outline: none;
}
.alert-select-icon {
  position: absolute;
  right: 17px;
  top: 43%;
  transform: translateY(-50%);
  pointer-events: none;
}

.alert-submit-btn {
  background: #27b9cd;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  padding: 14px 0;
  cursor: pointer;
  margin-bottom: 14px;
  margin-top: 0;
  transition: background 0.2s;
}

.alert-reports-container {
  margin-top: 1px;
}

.alert-report-section {
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
}
.alert-report-section:not(.open) .alert-report-body {
  display: none;
}
.alert-report-header {
  font-size: 16px;
  font-weight: 600;
  color: #1c222a;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.alert-row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 1px;

  line-height: 2;
  color: #888b93;
}
.alert-row {
  color: #888b93;
}
.alert-link.right {
  color: #27b9cd;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
}

.alert-report-toggle {
  border: none;
  background: transparent;
  padding: 2px 0 0 0;
  margin-left: 6px;
  cursor: pointer;
  display: flex;
}
.alert-report-toggle svg {
  display: block;
}
