.geo-dashcam-report {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  margin: 20px;
}

/* Chrome, Edge, Safari */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.geo-form-row {
  margin-bottom: 10px;
}
.geoform-label {
  font-size: 16px;
  color: #1c222a;
  font-weight: 400;
  margin-bottom: 7px;
  margin-top: 13px;
  display: block;
}
.geo-date-picker-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
}
.geo-date-input {
  width: 81%;
  border-radius: 10px;
  border: 1.2px solid #d5dde5;

  color: #6b7280;
  font-size: 14px;
  padding: 13px 40px 13px 13px;

  font-weight: 400;
  outline: none;
}

.geo-picker-svg {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
}

.geo-time-row {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.geo-time-picker {
  position: relative;
  width: 90px;
  margin-right: 8px;
}

.geo-time-input {
  width: 100%;
  border-radius: 10px;
  border: 1.2px solid #d5dde5;
  background: #fafbfc;
  color: #838f9c;
  font-size: 14px;
  padding: 10px 34px 10px 12px;

  font-weight: 400;
  outline: none;
}

.geo-time-icon {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
}

.geoform-select-wrap {
  position: relative;
  width: 100%;
}

.geoform-select {
  width: 100%;
  border-radius: 10px;
  border: 1.2px solid #d5dde5;

  color: #838f9c;
  font-size: 15px;
  padding: 13px 40px 13px 13px;

  font-weight: 400;
  appearance: none;
  outline: none;
}

.geoform-dropdown-arrow {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
}

.geoform-radio-row {
  display: flex;
  gap: 20px;

  border-radius: 10px;
  border: 1.2px solid #d5dde5;
  width: 93%;
  padding: 11px 0 11px 17px;
  margin-top: 7px;
  margin-bottom: 13px;
  align-items: center;
  justify-content: flex-start;
}

.geoform-radio {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
  color: #717d8c;

  cursor: pointer;
}

.geoform-radio input[type="radio"] {
  display: none;
}

.geo-radio-custom {
  width: 18px;
  height: 18px;
  border: 2px solid #c2c8ce;
  border-radius: 50%;
  background: #fff;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.geoform-radio input[type="radio"]:checked + .geo-radio-custom {
  border-color: #23b7cd;
  background: #e6fafd;
}

.geoform-radio input[type="radio"]:checked + .geo-radio-custom::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #23b7cd;
  display: block;
}

.geo-radio-text {
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
}

.geoform-submit {
  background: #27b9cd;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-top: 13px;
  font-weight: 400;
  padding: 14px 0;
  cursor: pointer;
  transition: background 0.2s;
}

.geoform-refresh {
  background: #e7f6f8;
  color: #27b9cd;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #27b9cd;
  margin-top: 6px;
  font-weight: 400;
  padding: 14px 0;
  cursor: pointer;
  transition: background 0.2s;
}

.geo-report-box {
  background: #eff3f7;
  border-radius: 15px;
  width: 100%;
  height: 350px;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8ca0b0;
  font-size: 16px;
  text-align: center;
}

.custom-time-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 0;
  margin-top: 13px;
}
.custom-label {
  font-size: 16px;
  color: #1c222a;
  font-weight: 400;
  margin-bottom: 3px;
  margin-top: 0;
  display: block;
}
.custom-time-picker {
  position: relative;

  margin-bottom: 0;
  margin-top: 0;
}

.input-styling {
  flex: 1;
}

.custom-time-input {
  width: 100%;
  border-radius: 8px;
  border: 1.2px solid #e6eaef;
  background: #fff;
  color: #838f9c;
  font-size: 15px;
  padding: 10px 34px 10px 12px;

  font-weight: 400;
  outline: none;
  box-sizing: border-box;
}
.custom-time-icon {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
}
