.custom-btn {
  width: 100%;
  background: #e7f6f8;
  color: #27b9cd;
  border-radius: 7px;
  border: 1px solid #27b9cd;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
  margin-bottom: 10px;
  margin-top: 0;
  cursor: pointer;
  transition: background 0.2s;
}

.active-btn {
  background: #eafafd;
  color: #23b7c9;
}

.custom-section {
  width: 100%;
  background: #f4f6f8;
  color: #1c222a;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
  margin-top: 0;
}

.dashcam-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 1px 8px rgba(16, 30, 54, 0.07);
  padding: 22px 16px 26px 16px;
  margin: 18px;
}

.dashcam-label {
  font-size: 15px;
  color: #232323;
  font-weight: 400;
  display: block;
  margin-bottom: 7px;
}

.dashcam-select {
  width: 100%;

  border: 1px solid #e6eaef;
  border-radius: 8px;
  padding: 12px 13px;
  font-size: 15px;
  color: #676b6f;
  margin-bottom: 18px;
}

.select-alerts-area {
  margin-top: 18px;
}

.select-alerts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #1c222a;
  margin-bottom: 8px;
}

.select-all-link {
  color: #22b6c7;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.select-alerts-list {
  background: #fff;
  border-radius: 14px;
  border: 1px solid #e6eaef;
  padding: 18px 16px 8px 16px;
  margin-bottom: 22px;
  max-height: none; /* for later scroll, if needed */
}

.alert-checkbox-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 12px;
  color: #6b7280;
  cursor: pointer;
}

.alert-checkbox-item input[type="checkbox"] {
  margin-right: 13px;
  width: 14px;
  height: 14px;
  accent-color: #26c6da;
}

.show-more-link {
  text-align: center;
  font-size: 10px;
  color: #22b6c7;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 2px;
}

.select-alerts-submit {
  width: 100%;
  background: #27b9cd;
  color: #fff;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0;
  margin-bottom: 7px;
  cursor: pointer;
  transition: background 0.18s;
}
