.vehicle-dashboard {
  max-width: 415px;
  margin: 0 auto;
}

#map {
  width: 100%;
  height: 180px; /* adjust as needed */
  border-radius: 8px;
  margin-top: 10px;
}
.vehicle-alert-item .vehicle-alert-body {
  display: none;
}
.vehicle-alert-item.expanded .vehicle-alert-body {
  display: block;
}

.vehicle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  color: #1c222a;
  padding: 16px 26px;
  background-color: #ffff;
  border-top: 1px solid #d7dbe2;
}

.vehicle-refresh {
  color: #27b9cd;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.vehicle-card-grid {
  background: #fff;
  border-radius: 14px;
  border: 1.5px solid #e6eaef;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 110px 90px 90px 90px;
  gap: 13px;
  padding: 20px;
  margin: 20px;
}

.alert-summary-card {
  grid-column: 1 / 3;
  background: #eafafd;
  border-radius: 13px;
  border: 1px solid #23b7c9;
  display: flex;
  align-items: center;

  padding: 10px;
  gap: 67px;
}

.alert-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alert-count {
  font-size: 56px;
  font-weight: 600;
  color: #232323;
  margin-right: 0;
}

.alert-label {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}

.alert-priority-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 1px;
  margin-top: 1px;
  width: 100%;
  gap: 20px;
}

.priority-box {
  font-size: 12px;

  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 7px;
}
.priority-low {
  color: #22b65c;
}
.priority-med {
  color: #f6b303;
}
.priority-high {
  color: #ef4444;
}
.priority-value {
  font-size: 15px;
  font-weight: 600;
  color: #6b7280;
}

.vehicle-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 17px 0px 17px;

  border: 1.2px solid #f2f4f7;
}

.vehicle-card-blue {
  background: #eff8ff;
  border: 1px solid #dcedfc;
}
.vehicle-card-green {
  background: #f1faf0;
  border: 1px solid #dff2df;
}
.vehicle-card-yellow {
  background: #fcfaed;
  border: 1px solid #f7f0cb;
}
.vehicle-card-red {
  background: #fef2f2;
  border: 1px solid #fce8e8;
}
.vehicle-card-white {
  background: #fff;
  border: 1px solid #ebeef3;
}

.vehicle-card-main {
  font-size: 30px;
  color: #1c222a;
  font-weight: 400;
  margin-bottom: 6px;
}

.vehicle-card-label {
  font-size: 12px;
  font-weight: 400;
  color: #64748b;
  text-decoration: none;
}
.vehicle-card-blue .vehicle-card-label {
  color: #23b7c9;
}
.vehicle-card-green .vehicle-card-label {
  color: #22b65c;
}
.vehicle-card-yellow .vehicle-card-label {
  color: #bdb767;
}
.vehicle-card-red .vehicle-card-label {
  color: #ef4444;
}
.vehicle-card-white .vehicle-card-label {
  color: #6b7280;
}

.alerts-dashboard {
  background: #fff;
  border-radius: 15px;
  border: 1.5px solid #e6eaef;

  margin: 24px;
  margin-top: 0;
  padding: 20px;
}

.alert-notify {
  font-size: 16px;
  font-weight: 500;
  color: #232323;
  margin-bottom: 4px;
}

.alert-info {
  margin-top: 6px;
  font-size: 14px;
  border-radius: 9px;
  padding: 10px 15px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-info-gray {
  background: #eef1f6;
  color: #6b7280;
  border: 1px solid #d7dbe2;
}

.alert-info-red {
  background: #f443361a;
  color: #f44336;
  border: 1px solid #f44336;
}

.arrow-icon {
  font-size: 18px;
  margin-left: 8px;
}

.arrow-icon.gray {
  color: #838f9c;
}

.arrow-icon.red {
  color: #ef4444;
}

.alert-map-section {
  margin: 15px 0 12px 0;
  display: flex;
  justify-content: center;
}

.alert-map-img {
  width: 100%;
  min-height: 180px;
  max-height: 130px;
  border-radius: 10px;
  border: 1px solid #e6eaef;
  object-fit: cover;
  display: block;
}

.vehicle-alerts-section {
  margin-top: 8px;
}

.vehicle-alerts-title {
  font-size: 16px;
  font-weight: 500;
  color: #232323;
  margin-bottom: 8px;
  display: block;
}

.toolbar-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.toolbar-search {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1 1 0;
  min-width: 0;
}

.toolbar-search-input {
  width: 100%;
  border: 1px solid #e6eaef;
  border-radius: 10px;

  padding: 11px 13px 12px 36px;
  font-size: 14px;
  color: #4b4b4b;
  outline: none;
  transition: border-color 0.18s;
}

.toolbar-search-icon {
  position: absolute;
  left: 12px;
  top: 56%;
  transform: translateY(-50%);
  color: #5d5d5d;
  font-size: 19px;
  pointer-events: none;
}

.toolbar-btn {
  background: #ffff;
  border: 1px solid #e6eaef;
  border-radius: 10px;
  font-size: 21px;
  width: 44px;
  height: 44px;
  min-width: 40px;
  min-height: 40px;
  color: #5d5d5d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s;
}

.toolbar-toggle {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  border: 1.5px solid #e6eaef;

  height: 40px;
}
.toolbar-toggle-btn {
  background: none;
  border: none;
  outline: none;
  font-size: 17px;
  width: 44px;
  height: 100%;
  cursor: pointer;
  transition: background 0.18s, color 0.18s;
  color: #5d5d5d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-toggle-btn.active {
  background: #eafafd;
  color: #23b7c9;
}

.toolbar-toggle-btn + .toolbar-toggle-btn {
  border-left: 1.5px solid #e6eaef;
}

.vehicle-alerts-list {
  margin-top: 1px;
}

.vehicle-alert-item {
  border-bottom: 1.5px solid #e6eaef;
  padding: 0 2px;
}
.vehicle-alert-item:last-child {
  border-bottom: none;
}

.vehicle-alert-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 44px;
  cursor: pointer;
}

.vehicle-alert-title {
  font-size: 16px;
  font-weight: 600;
  color: #232323;
}

.vehicle-alert-toggle {
  background: none;
  border: none;
  padding: 0;
  margin-left: 8px;
  height: 36px;
  cursor: pointer;
}

.vehicle-alert-toggle svg {
  display: block;
}
.vehicle-alert-toggle.active svg circle {
  stroke: #27b9cd;
}
.vehicle-alert-toggle.active svg path {
  stroke: #27b9cd;
}

.vehicle-alert-body {
  padding: 0 2px 12px 2px;
}

.vehicle-link {
  color: #27b9cd;
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  margin-bottom: 3px;
}

.vehicle-alert-details {
  margin-top: 3px;
}
.vehicle-alert-row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #888b93;
  margin-bottom: 5px;
  font-weight: 400;
}

/* ejfherijf */

.vehicle-alert-body {
  display: none;
}

.vehicle-alert-item.open .vehicle-alert-body {
  display: block;
}

.vehicle-alert-toggle svg {
  transition: transform 0.3s ease;
  transform: rotate(180deg); /* rotate arrow */
}

.vehicle-alert-item.open .vehicle-alert-toggle svg {
  transform: rotate(0deg); /* rotate arrow */
}
