.map-cls{
  height: 52% !important;
}
.stats{
  height: 50% !important;
  overflow: scroll;
}
.geoform-card {
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.geoform-title-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.geoform-back {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 7px;
  padding: 0;
  outline: none;
}

.geoform-title {
  font-size: 18px;
  font-weight: 700;
  color: #1c222a;
  margin: 0 auto;
}

.geoform-label {
  display: block;
  font-size: 16px;
  color: #1c222a;
  margin-bottom: 5px;
  margin-top: 18px;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

.geoform-input {
  border-radius: 9px;
  border: 1px solid #ececec;
  font-size: 16px;
  width: 100%;
  margin-bottom: 2px;
  padding: 13px 14px;
  color: #6b7280;
  outline: none;
}

.geoform-colors {
  display: flex;
  gap: 17px;
  margin: 6px 0 6px 0;
  width: 100%;
  justify-content: flex-start;
}

.color-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  font-size: 22px;
  border: none;
  cursor: pointer;
  background: #efefef;
  position: relative;
}

.color-yellow {
  background: #f6c941;
  color: #fff;
}
.color-red {
  background: #ef4e4d;
}
.color-purple {
  background: #ad72e2;
}
.color-green {
  background: #43c180;
}
.color-blue {
  background: #5192fa;
}
.color-grey {
  background: #b9bec7;
}

.color-dot.selected {
  border: 2.5px solid #d2a0a0;
  color: #f6c941;
  font-weight: bold;
  box-shadow: 0 0 0 2px #fff;
}

.geoform-submit {
  text-align: center;
  text-decoration: none;
  background: #27b9cd;
  color: #fff;
  font-size: 17px;
  width: 100%;
  border-radius: 9px;
  border: none;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 600;
  padding: 15px 0;
  cursor: pointer;
  transition: background 0.2s;
}

.geoform-submit:hover {
  background: #1aa7b9;
}

.geoform-cancel {
  background: #eef1f6;
  color: #1c222a;
  font-size: 16px;
  width: 100%;
  border-radius: 9px;
  border: none;
  margin-top: 10px;
  font-weight: 600;
  padding: 15px 0;
  cursor: pointer;
  /* border: 1px solid #d7dbe2; */
}
