#map {
  height: 51% !important;
}
.stats {
  height: 35% !important;
}
.geo-report-card {
  background: #fff;
  border-radius: 16px;

  padding: 20px;
  margin: 0 20px;
  flex: 1;
}

.geo-car-card {
  background: #fff;

  margin-bottom: 9px;
  border-bottom: 1px solid #d7dbe2;
  padding-bottom: 10px;
}

.geo-car-card.open {
  padding-bottom: 6px;
}

.geo-car-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  color: #0d062d;
  border-radius: 12px;

  background: #fff;
}

.geo-car-title {
  font-weight: 600;
  font-size: 16px;
  color: #232323;
}

.geo-car-right {
  display: flex;
  align-items: center;
  gap: 9px;
}

.geo-car-landmark {
  background: #30a71a33;
  color: #30a71a;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  padding: 4px 10px;
}

.geo-car-timer {
  color: #475569;
  font-size: 12px;
  font-weight: 500;
}

.geo-collapse-arrow {
  display: flex;
  align-items: center;
}

.geo-car-detail-row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #888b93;
  font-weight: 400;
  padding-bottom: 0;
  margin-top: 7px;
}

.geoform-link {
  color: #27b9cd;
  font-weight: 400;
  text-decoration: underline;
  font-size: 12px;
}

.styling {
  display: flex;
  text-align: right;
}
.search-toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  border: 1.5px solid #e6eaef;
  height: 44px;
  width: 260px;
  flex: 1;
}

.search-icon {
  margin-left: 13px;
  margin-right: 7px;
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #667080;
  font-family: "Inter", sans-serif;
  width: 180px;
  padding: 0;
}

.toggle-group {
  display: flex;
  border-radius: 9px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 0 1.5px #e6eaef;
  height: 44px;
}

.toggle-btn {
  background: #fff;
  border: none;
  outline: none;
  width: 49px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.toggle-btn.active {
  background: #e6fafd;
}

.toggle-btn svg {
  vertical-align: middle;
}
.geo-car-details {
  display: none; /* hidden by default */
}

.geo-car-card.open .geo-car-details {
  display: block; /* show when open */
}

.geo-collapse-arrow svg {
  transform: rotate(180deg); /* default: downward */
  transition: transform 0.3s ease;
}

.geo-car-card.open .geo-collapse-arrow svg {
  transform: rotate(180deg); /* rotate arrow when open */
}

.geo-car-card.open .geo-collapse-arrow svg {
  transform: rotate(0deg); /* open: upward */
}
