.key-insights-box {
  padding: 15px 12px 6px 12px;
}
.key-insights-title {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #232323;
}
.key-insights-list {
  margin: 0;
  padding-left: 22px;
  color: #232323;
  font-size: 1rem;
}
.key-insights-list li {
  margin-bottom: 8px;
}

.password-form {
  border-radius: 14px;
  margin: 10px;
  padding: 18px 20px;

  display: flex;
  flex-direction: column;
}

.password-field {
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
}
.password-field label {
  margin-bottom: 6px;
  font-size: 1rem;
  color: #232323;
  font-weight: 500;
}
.password-field input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background: #fff;
  outline: none;
  transition: border-color 0.2s;
}
.password-field input:focus {
  border-color: #19adc1;
}

/* Button Styles */
.btn-submit {
  width: 100%;
  padding: 13px 0;
  background: #19adc1;
  color: #fff;
  border: none;
  border-radius: 9px;
  font-weight: 600;
  font-size: 1.07rem;
  margin-top: 12px;
  cursor: pointer;
  transition: background 0.2s;
}
.btn-submit:hover {
  background: #138c9e;
}
.btn-cancel {
  width: 100%;
  padding: 13px 0;
  background: #eff2f6;
  color: #232323;
  border: none;
  border-radius: 9px;
  font-weight: 500;
  font-size: 1.06rem;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.2s;
}
.btn-cancel:hover {
  background: #e3e6eb;
}

/* Responsive */
@media (max-width: 520px) {
  .key-insights-box {
    border-radius: 0;
    padding-left: 19px;
    padding-right: 19px;
    margin: 0;
    background-color: #ffffff;
    border-top: 1px solid #d7dbe2;
  }

  .password-form {
    border-radius: 10px;
    padding-left: 19px;
    padding-right: 19px;
    margin: 15px 18px;
    background-color: #ffffff;
    border: 1px solid#D7DBE2;
  }
}
